# Prerequisites
*.d
.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Build and other directories
build/
.DS_Store
.vscode/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# For my refernce
subrat-README.md

# Future release plan
tools
